{% extends 'layouts/base.html' %}

{% block content %}
    <h1>About</h1>

    <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Suscipit iusto ea illo nostrum necessitatibus quo modi accusantium sequi inventore, ad quasi vitae, a totam voluptas nisi. Nihil obcaecati maiores dolor quos quidem ducimus velit debitis vel, consectetur iste eius eveniet recusandae dignissimos iure dolorem accusantium earum ipsam consequuntur! Inventore repudiandae molestias ullam eos quo, sit maxime nisi earum. Totam soluta aperiam deleniti quos enim iure. Culpa quaerat explicabo asperiores minima commodi consequatur, doloremque maxime quam eum unde molestiae! Modi esse cupiditate nobis, officiis quas laudantium. Eius, accusantium, ea explicabo placeat repellat incidunt nisi ipsa vel natus quaerat, blanditiis pariatur illo.
    </p>

    <p>Website created by {{ username }}</p>
{% endblock %}

